In [1]:
list1 = [12,0.23,'Bruh']

In [2]:
len(list1)

3

In [42]:
list2 = ['one','two','three']

In [6]:
list2[1]

'two'

In [7]:
list2[1:]

['two', 'three']

In [8]:
list3 = ['four','five']

In [24]:
new_list = list2 + list3 #concatenation

In [25]:
list1 + list2

[78, 0.23, 'Bruh', 'one', 'three']

In [26]:
list1[0] = 1

In [27]:
list1

[1, 0.23, 'Bruh']

In [28]:
list1[0] = 78

In [29]:
list1

[78, 0.23, 'Bruh']

In [30]:
list1.append(True)

In [31]:
list1

[78, 0.23, 'Bruh', True]

In [32]:
list1.append('Fake')

In [33]:
popped_item = list1.pop() #returns the last element of the list and removes it from the list itself.

In [34]:
list1

[78, 0.23, 'Bruh', True]

In [35]:
popped_item

'Fake'

In [43]:
list2.pop(1) #removes the indexed item from the list, by default the end of the list.

'two'

In [37]:
list2

['one']

In [45]:
popped_item2 = new_list.pop()

In [46]:
new_list

['one', 'three']

In [47]:
popped_item2

'four'

In [48]:
new_list

['one', 'three']

In [51]:
new_list.insert(2,'four')

In [52]:
new_list

['one', 'three', 'four']

In [53]:
alpha_list = ['a','t','b','m','k']
num_list = [1,4,2,7,5]

In [54]:
alpha_list.sort() #This function returns no value, so if a variable is assigned this, it will be empty.

In [55]:
alpha_list

['a', 'b', 'k', 'm', 't']

In [56]:
num_list

[1, 4, 2, 7, 5]

In [57]:
num_list.reverse()

In [58]:
num_list

[5, 7, 2, 4, 1]

# Dictionaries

In [1]:
my_dictionary = {'key1':(0,1),'key2':'value2'}

In [2]:
my_dictionary['key1']

(0, 1)

In [61]:
prices_lookup = {'mango':67,'pomegrante':126,'apple':87,'banana':8,'cat':2500}

In [63]:
prices_lookup['cat']

2500

dictionaries are super-flexible and support all data types.

In [67]:
d1 = {'k1':123,'k2':[1,2,3],'k3':{'In':[1,[2,3]]}}

In [68]:
d1['k2']

[1, 2, 3]

In [69]:
d1['k3']

{'In': [1, [2, 3]]}

In [71]:
d1['k3']['In']

[1, [2, 3]]

In [72]:
d1['k3']['In'][1]

[2, 3]

In [74]:
d1['k3']['In'][1][0]

2

In [76]:
d2 = {'key1':['a','b','c'],'key2':['bruh','gruh']}

In [77]:
d2['key1'][1].upper()

'B'

In [84]:
d2['key3'] = ['trump','biden']
d2['key4'] = {'k1':"Let's Play",'k2':'Minecraft'}

In [85]:
d2

{'key1': ['d', 'e', 'f'],
 'key2': ['bruh', 'gruh'],
 'key3': ['trump', 'biden'],
 'key4': {'k1': "Let's Play", 'k2': 'Minecraft'}}

In [86]:
d2['key1'] = ['d','e','f']

In [87]:
d2

{'key1': ['d', 'e', 'f'],
 'key2': ['bruh', 'gruh'],
 'key3': ['trump', 'biden'],
 'key4': {'k1': "Let's Play", 'k2': 'Minecraft'}}

To check all keys in a dictionary,

In [88]:
d2.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [89]:
d2.values()

dict_values([['d', 'e', 'f'], ['bruh', 'gruh'], ['trump', 'biden'], {'k1': "Let's Play", 'k2': 'Minecraft'}])

In [90]:
d2.items() #will display the dictionary itself with pairings, i.e. as a tuple.

dict_items([('key1', ['d', 'e', 'f']), ('key2', ['bruh', 'gruh']), ('key3', ['trump', 'biden']), ('key4', {'k1': "Let's Play", 'k2': 'Minecraft'})])

# Tuples

In [91]:
t = (1,2,3)

In [92]:
my_list = [1,2,3]

In [93]:
type(t)

tuple

In [95]:
type(my_list)

list

In [96]:
len(my_list)

3

In [97]:
len(t)

3

In [98]:
t = (False,'one',2,3.0)

In [99]:
tup = ('a','a','b','a')

In [101]:
tup.count('a')

3

In [102]:
tup.index('a') #First time the element occurs.

0

In [103]:
t

(False, 'one', 2, 3.0)

In [104]:
my_list

[1, 2, 3]

In [105]:
my_list[0] = 'New Value'

In [106]:
my_list

['New Value', 2, 3]

In [107]:
t[0] = 'New Value'

TypeError: 'tuple' object does not support item assignment